@import 'assets/theme/theme.scss';
@import 'assets/constants.scss';

.drawer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 10;
    &.is-active {
        left: 0;
    }
    .drawer-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
    }
    .drawer-body {
        z-index: 20;
        width: 480px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: map-get($map: $breakpoints, $key: 'md')){
            width: 300px;
        }
        @media screen and (max-width: map-get($map: $breakpoints, $key: 'sm')){
            width: 250px;
        }
        .drawer-body-top {
            height: 220px;
            .drawer-header {
                height: 55px;
            }
        }
        .drawer-body-main {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            flex-direction: column;
            padding-bottom: 10px;
            .drawer-list-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 0;
                @media screen and (max-width: map-get($map: $breakpoints, $key: 'sm')){
                    padding: 8px;
                    font-size: 14px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@each $themeKey, $theme in $themes {
    .App.theme-#{$themeKey} {
        .drawer {
            .drawer-body {
                background-color: map-get($map: $theme, $key: 'secondary');
                .drawer-body-top {
                    .drawer-header {
                        background-color: map-get($map: $theme, $key: 'primary');
                    }
                }
                .drawer-body-main {
                    .drawer-list-button {
                        background-color: map-get($map: $theme, $key: 'primary');
                        &:hover {
                            background-color: map-get($map: $theme, $key: 'secondary');
                        }
                        &:not(:first-of-type) {
                            border-top: 2px solid map-get($map: $theme, $key: 'secondary');
                        }
                    }
                }
            }
        }
    }
}